<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    	<!-- Font awesome -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- Sandstone Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Bootstrap Datatables -->
	<link rel="stylesheet" href="css/dataTables.bootstrap.min.css">
	<!-- Bootstrap social button library -->
	<link rel="stylesheet" href="css/bootstrap-social.css">
	<!-- Bootstrap select -->
	<link rel="stylesheet" href="css/bootstrap-select.css">
	<!-- Bootstrap file input -->
	<link rel="stylesheet" href="css/fileinput.min.css">
	<!-- Awesome Bootstrap checkbox -->
	<link rel="stylesheet" href="css/awesome-bootstrap-checkbox.css">
	<!-- Admin Stye -->
	<link rel="stylesheet" href="css/style.css">
    <style>
		.errorWrap {
			padding: 10px;
			margin: 0 0 20px 0;
			background: #fff;
			border-left: 4px solid #dd3d36;
			-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
		}

		.succWrap {
			padding: 10px;
			margin: 0 0 20px 0;
			background: #fff;
			border-left: 4px solid #5cb85c;
			-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
		}
	</style>
</head>
<body>

    <div class="brand clearfix">
		<a href="/admin/dashboard" style="font-size: 20px; padding-top:1%; color:#fff"> </a>
		<span class="menu-btn"><i class="fa fa-bars"></i></span>
		<ul class="ts-profile-nav">

			<li class="ts-account">
				<a href="#"><img src="img/ts-avatar.jpg" class="ts-avatar hidden-side" alt=""> Account <i
						class="fa fa-angle-down hidden-side"></i></a>
				<ul>
					<!-- <li><a href="/admin/profile">Profile</a></li>
					<li><a href="/admin/changepassword">Change Password</a></li> -->
					<li><a href="/admin/logout">Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>


	<div class="ts-main-content">
		<nav class="ts-sidebar">
			<ul class="ts-sidebar-menu">

				<li class="ts-label">Main</li>
				<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>

				<li><a href="#"><i class="fa fa-files-o"></i>events management</a>
					<ul>
					<li><a href="/admin/addevent">Add event</a></li>
					<li><a href="/admin/eventlist">event list</a></li>
					</ul>
					</li>

				<li><a href="#"><i class="fa fa-files-o"></i> Donors</a>
					<ul>
					<li><a href="/admin/adddonor">Add Donor</a></li>
					<li><a href="/admin/donorlist">Donors List</a></li>
					</ul>
				</li>

				<li><a href="#"><i class="fa fa-files-o"></i>image</a>
					<ul>
					<li><a href="/admin/addimage">Add image</a></li>
					<li><a href="/admin/imagelist">image List</a></li>
					</ul>
				</li>


				<li><a href="/admin/bloodrequests"><i class="fa fa-users"></i> Blood Requests</a></li>
				

			</ul>
		</nav>
		<div class="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-title">EVENT LIST</h2>
                        <div class="panel panel-default">
                            <div class="panel-heading">Listed events</div>
                            <div class="panel-body">
                                <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>IMAGE</th>
                                            <th>DATE</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>IMAGE</th>
                                            <th>DATE</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% let counter=1; %>
                                        <% x.forEach((y)=>{ %>
                                            <tr>
                                                <td class="fixed-width"><%= counter++ %></td>
                                                <td class="fixed-width"><%= y.image %></td>
                                                <td class="fixed-width"><%= y.date %></td>
                                                <td>
                                                    
                                                    <a href="/admin/deleteimage?id=<%= y._id %>" onclick="return confirm('Do you want to delete');" class="btn btn-danger" style="margin-top:1%;">Delete</a>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/dataTables.bootstrap.min.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/fileinput.js"></script>
<script src="js/chartData.js"></script>
<script src="js/main.js"></script>
    
</body>
</html>

